@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  font-family: Poppins, Arial, sans-serif;
  font-display: swap;
  font-weight: 200;
  margin: 0px;
  padding: 0px;
}

/* Custom Scrollbar Classes */

/* *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #075bf5;
  border-radius: 25px;
}

*::-webkit-scrollbar-track {
  background: #81bbfeaa;
  margin: 5px;
  border-radius: 25px;
}

.remove-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.big-scroll::-webkit-scrollbar {
  width: 16px;
  height: 14px;
}
.big-scroll::-webkit-scrollbar-thumb {
  border-radius: 25px;
}
.big-scroll::-webkit-scrollbar-track {
  background: #ebeff6;
} */
